---
import Layout from "../../layouts/BlogPost.astro";
import {getPostInfo} from "../../lib/wordpress"
const { slug } = Astro.params;
const post = await getPostInfo(slug)


export const prerender = false;
---

<Layout
	title="Noticia"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
<article>
	<h1>{post.title}</h1>
	<p>By {post.author.node.name} on {new Date(post.date).toLocaleDateString()}</p>
	{post.featuredImage && <img src={post.featuredImage.node.sourceUrl} alt="Featured Image" />}
	<p set:html={post.content}></p>
	
  </article>
  <a href="/">← Back to blog</a>
</Layout>
