---
import Layout from "../../layouts/BlogPost.astro";
const { slug } = Astro.params;
const WP_GRAPHQL_URL = 'https://linen-gnat-102975.hostingersite.com/graphql';
const query = `
  query GetPostBySlug($slug: ID!) {
  post(id: $slug, idType: SLUG) {
    title
    content
    date
    author {
      node {
        name
      }
    }
    featuredImage {
      node {
        sourceUrl
      }
    }
  }
}
`;

const response = await fetch(WP_GRAPHQL_URL , {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({ query, variables: {slug} })
});

const json = await response.json();
const post = json.data.post;

export const prerender = false;
---

<Layout
	title="Noticia"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg"
>
<article>
	<h1>{post.title}</h1>
	<p>By {post.author.node.name} on {new Date(post.date).toLocaleDateString()}</p>
	{post.featuredImage && <img src={post.featuredImage.node.sourceUrl} alt="Featured Image" />}
	<p set:html={post.content}></p>
	
  </article>
  <a href="/">← Back to blog</a>
</Layout>
